$fedora_darkblue: #294172;
$fedora_blue: #3C6EB4;
$fedora_lighterblue: #4076C2;
$fedora_lightblue: #6498E0;

// Semantic colors
$primary_accent_bg_color: $fedora_lighterblue;
$primary_accent_fg_color: $white;
$secondary_accent_bg_color: $fedora_lighterblue;
$secondary_accent_fg_color: $white;